.flex {
    display: flex;
}

$display_block: block;

$display_flex: flex;
$space_bet: space-between;
$flex_direction: row;

$light_blue_color: #0282f9;
$black_color: #1c1c1c;
$primary_color: white;
$gray_color: #303030;

$font: 'Roboto Mono', monospace;